body {
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    background-image: url('resources/images/hq/dark.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 99.94%;
    background-color: #000000;
}

.overlay img {
    overflow: hidden;
    overflow-y: hidden;
    object-fit: cover;
    width: 100%;
    height: 99.4%;
}

.overlay .wait-prompt {
    position: absolute;
    top: 92.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: rgb(155, 155, 155);
    font-size: 12px;
    border-style: ridge;
    border-width: 1px;
    background-color: #0000006e;
    border-radius: 10px;
    padding: 6px 12px;
}

.overlay .wait-sp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: rgb(155, 155, 155);
    font-size: 12px;
    border-style: ridge;
    border-width: 1px;
    background-color: #0000006e;
    border-radius: 10px;
    padding: 6px 12px;
}

.overlay .in-sp {
    display: none;
    position: absolute;
    background-size: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    padding: 6px 12px;
}


.title {
    display: grid;
    font-size: 12px;
    margin-top: 8px;
    padding: 4px 15px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    margin-bottom: 10px;
    border-style: ridge;
    border-width: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #000000, #30000057);
    background-image: url('resources/images/PdGN.gif');
    background-size: contain;
    background-position: center;
    background-blend-mode: darken;

}

.titleb {
    display: none;
    font-size: 12px;
    margin-top: 8px;
    padding: 4px 15px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    margin-bottom: 10px;
    border-style: ridge;
    border-width: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #000000, #30000057);
    background-image: url('resources/images/PdGN.gif');
    background-size: contain;
    background-position: center;
    background-blend-mode: darken;

}

.titlec {
    display: none;
    font-size: 12px;
    margin-top: 8px;
    padding: 4px 15px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    margin-bottom: 10px;
    border-style: ridge;
    border-width: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #000000, #30000057);
    background-image: url('resources/images/PdGN.gif');
    background-size: contain;
    background-position: center;
    background-blend-mode: darken;
}

.titled {
    display: none;
    font-size: 12px;
    margin-top: 8px;
    padding: 4px 15px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    margin-bottom: 10px;
    border-style: ridge;
    border-width: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, #000000, #30000057);
    background-image: url('resources/images/PdGN.gif');
    background-size: contain;
    background-position: center;
    background-blend-mode: darken;

}

.title2 {
    display: grid;
    font-size: 9px;
    width: 60px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-style: dotted;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 1px;
    background-attachment: fixed;
    margin-top: 74px;
    border-top-color: blue;
    border-bottom-color: blue;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);

}

.up {
    display: none;
    font-size: 16px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    margin-top: 55px;
    max-width: fit-content;
    border-width: 2px;
    border-style: groove;
    padding: 6px 12px;
    transition: transform 0.09s;
    cursor: pointer;
}

.title3 {
    display: grid;
    font-size: 9px;
    width: 60px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-style: dotted;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 1px;
    margin-top: 74px;
    background-attachment: fixed;
    border-top-color: blue;
    border-bottom-color: blue;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    text-align: center;

}

.title4 {
    display: grid;
    font-size: 9px;
    width: 60px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-style: dotted;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 1px;
    margin-top: 74px;
    background-attachment: fixed;
    border-top-color: blue;
    border-bottom-color: blue;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    text-align: center;
}

.up2 {
    display: none;
    font-size: 16px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin-top: 55px;
    background-attachment: fixed;
    max-width: fit-content;
    border-width: 2px;
    border-style: groove;
    padding: 6px 12px;
    transition: transform 0.09s;
    cursor: pointer;
}

.up3 {
    display: none;
    font-size: 16px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin-top: 55px;
    background-attachment: fixed;
    max-width: fit-content;
    border-width: 2px;
    border-style: groove;
    padding: 6px 12px;
    transition: transform 0.09s;
    cursor: pointer;
}


.picture {
    border-radius: 50%;
    border: 3px solid rainbow;
    margin-top: 30px;
    text-align: right;
}

.icon {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 62px;
    height: 62px;
    transition: transform 0.5s ease;
    background-attachment: fixed;
    margin-top: 10px;
    margin-left: 0px;

}

.icon2 {
    width: 12px;
    height: 12px;
    background-attachment: fixed;
    margin-top: 3px;
    padding-right: 8px;
    transition: transform 0.09s;
    text-shadow: white;
    background: transparent;
}

.icon3 {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 62px;
    height: 62px;
    transition: transform 0.5s ease;
    background-attachment: fixed;
    margin-top: 10px;
    margin-left: 0px;
}

.icon4 {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    width: 62px;
    height: 62px;
    transition: transform 0.5s ease;
    background-attachment: fixed;
    margin-top: 10px;
    margin-left: 0px;

}

.icon5 {
    display: none;
    position: absolute;
    z-index: 5;
    top: 32%;
    left: 88%;
    width: 50px;
    height: 50px;
    margin-left: 0px;
    border-style: ridge;
    border-width: 2px;
    border-radius: 50%;
}

.buttons {
    display: none;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    background-attachment: local;
    background-color: rgba(0, 0, 0, 0.925);
    border-style: ridge;
    border-width: 2px;
    background-image: url('resources/images/spider2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 80px;
    background-position-y: 0px;
    background-blend-mode: darken;
    border-bottom-right-radius: 20px;
}

.buttons2 {
    display: none;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    background-attachment: local;
    background-color: rgba(0, 0, 0, 0.925);
    border-style: ridge;
    border-width: 2px;
    background-image: url('resources/images/spider2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 80px;
    background-position-y: 0px;
    background-blend-mode: darken;
    border-bottom-right-radius: 20px;

}

.buttons3 {
    display: none;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    background-attachment: local;
    background-color: rgba(0, 0, 0, 0.925);
    border-style: ridge;
    border-width: 2px;
    background-image: url('resources/images/spider2.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 80px;
    background-position-y: 0px;
    background-blend-mode: darken;
    border-bottom-right-radius: 20px;

}


.buttons button {
    font-size: 12px;
    width: 280px;
    height: 24px;
    border: 1px rgba(0, 0, 139, 0.493);
    cursor: pointer;
    border-top: 0px;
    border-right: 0px;
    border-style: groove;
    background: #35353570;
    color: rgb(255, 255, 255);
    text-align: left;


}

.buttons2 button {
    font-size: 12px;
    width: 280px;
    height: 24px;
    border: 1px rgba(0, 0, 139, 0.493);
    cursor: pointer;
    border-top: 0px;
    border-right: 0px;
    border-style: groove;
    background: #35353570;
    color: rgb(255, 255, 255);
    text-align: left;


}

.buttons3 button {
    font-size: 12px;
    width: 280px;
    height: 24px;
    border: 1px rgba(0, 0, 139, 0.493);
    cursor: pointer;
    border-top: 0px;
    border-right: 0px;
    border-style: groove;
    background: #35353570;
    color: rgb(255, 255, 255);
    text-align: left;

}


.spotify {
    display: none;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 0%;
    background-attachment: fixed;
    border-style: hidden;
    border-width: 2px;
    transition: transform 0.5s;
    margin-top: 154px;
    margin-left: 14px;

}

.spotify iframe {
    font-size: 12px;
    width: 380px;
    height: 154px;
    border: 5px solid;
    cursor: pointer;
    border-style: ridge;
    background: #35353570;
    color: rgb(255, 255, 255);
    text-align: left;

}

.spotify2 {
    display: none;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 0%;
    background-attachment: fixed;
    border-style: hidden;
    border-width: 2px;
    transition: transform 0.5s;
    margin-top: 154px;
    margin-left: 14px;

}

.spotify2 iframe {
    font-size: 12px;
    width: 380px;
    height: 154px;
    border: 5px solid;
    cursor: pointer;
    border-style: ridge;
    background: #35353570;
    color: rgb(255, 255, 255);
    text-align: left;

}

.soundcloud {
    display: none;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 0%;
    background-attachment: fixed;
    font-size: 10px;
    color: #000000;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    border-style: hidden;
    border-width: 2px;
    transition: transform 0.5s;
    margin-top: 108px;
    margin-left: 14px;
}

.soundcloud iframe {
    font-size: 12px;
    border: 5px solid;
    cursor: pointer;
    border-style: ridge;
    background: #00000070;
    color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 12px;
}

.bm {
    float: left;
    width: 0px;
    height: 0px;
    margin-bottom: 20px;
    margin-left: 22px;
    transition: transform 0.5s ease;
}

.footer {
    margin: 0;
    color: white;
    position: fixed;
    bottom: 0;
    right: 10;
    z-index: 7;
    font-size: 7px;

}

.icon:hover {
    transform: translateY(-5px);
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.icon3:hover {
    transform: translateY(-5px);
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.icon4:hover {
    transform: translateY(-5px);
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.buttons button:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
}

.buttons2 button:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
}

.buttons3 button:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
}

.bm:hover {
    transform: rotate(35deg);
}

.up:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
    transform: translateY(-5px);
}

.up2:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
    transform: translateY(-5px);
}

.up3:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
    transform: translateY(-5px);
}