body {
    display: grid;
    row-gap: 20px;
    column-gap: 0px;
    background-image: url('resources/images/hq/02.png');
    background-size:contain;
    background-attachment: fixed;
    viewport-fit:initial;
    background-position: left;
    font-family: sans-serif;
    background-repeat: no-repeat;
    color: white;
}
.title {
    display: grid;
    font-size: 12px;
    margin-top: 30px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: #000;
    background-attachment: fixed;

}

.titleb {
    display: none;
    font-size: 12px;
    margin-top: 30px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: #000;
    background-attachment: fixed;

}
.titlec {
    display: none;
    font-size: 12px;
    margin-top: 30px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: #000;
    background-attachment: fixed;

}
.title2 {
    display: grid;
    font-size: 7.5px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    color: #000;
    background-attachment: fixed;
    padding-top: 20px;

}
.title3 {
    display: grid;
    font-size: 7.5px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    color: #000;
    background-attachment: fixed;
    padding-top: 20px;

}
.picture {
    border-radius: 50%;
    border: 3px solid rainbow;
    margin-top: 30px;
    text-align: right;
}

.icon {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 40px;
    height: 40px;
    image-rendering: optimizeQuality;
    transition: transform 0.09s;
    background-attachment: fixed;

   
}
.icon2 {
    width: 12px;
    height: 12px;
    image-rendering: optimizeQuality;
    background-attachment: fixed;
    padding-right: 8px;
}
.icon3 {
    display:grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 40px;
    height: 40px;
    image-rendering: optimizeQuality;
    transition: transform 0.09s;
    background-attachment: fixed;
}
.buttons {
    display: none;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    background-attachment: fixed;
    
}

.buttons2 {
    display: none;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    background-attachment: fixed;
    
}


.buttons button {
    font-size: 12px;
    width: 80px;
    height: 20px;
    border: 1px solid;
    cursor: pointer;
    margin-right: 199%;
    margin-left: 0%;
    border-top: 0px;
    border-right: 0px;
    border-style: dotted;
    background-color: transparent;
    text-align: left;

}

.buttons2 button {
    font-size: 12px;
    width: 100px;
    height: 20px;
    border: 1px solid;
    cursor: pointer;
    margin-right: 199%;
    margin-left: 0%;
    border-top: 0px;
    border-right: 0px;
    border-style: dotted;
    background-color: transparent;
    text-align: left;

}

.icon:hover {
    background-color: #30006431;
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.icon3:hover {
    background-color: #30006431;
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.buttons button:hover{
    background-color: #30006431;
}
.buttons2 button:hover{
    background-color: #30006431;;
}
