body {
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    background-image: url('resources/images/hq/dark.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

.title {
    display: grid;
    font-size: 12px;
    margin-top: 8px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    margin-bottom: 20px;
    border-style: ridge;
    border-width: 2px;
    background: linear-gradient(to right, #000000, #30000057);


}

.titleb {
    display: none;
    font-size: 12px;
    margin-top: 8px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    margin-bottom: 20px;
    border-style: ridge;
    border-width: 2px;
    background: linear-gradient(to right, #000000, #30000057);
}

.titlec {
    display: none;
    font-size: 12px;
    margin-top: 8px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    color: rgb(255, 255, 255);
    background-attachment: fixed;
    margin-bottom: 20px;
    border-style: ridge;
    border-width: 2px;
    background: linear-gradient(to right, #000000, #30000057);
}

.title2 {
    display: grid;
    font-size: 9px;
    width: 60px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-style: dotted;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 1px;
    background-attachment: fixed;
    margin-top: 67px;
    border-top-color: blue;
    border-bottom-color: blue;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);

}

.up {
    display: none;
    font-size: 16px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    margin-top: 55px;
    max-width: fit-content;
    border-width: 2px;
    border-style: ridge;
    padding: 8px;
    transition: transform 0.09s;
}

.title3 {
    display: grid;
    font-size: 9px;
    width: 60px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-style: dotted;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 1px;
    margin-top: 67px;
    background-attachment: fixed;
    border-top-color: blue;
    border-bottom-color: blue;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);

}

.title4 {
    display: grid;
    font-size: 9px;
    width: 60px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-style: dotted;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 1px;
    margin-top: 74px;
    background-attachment: fixed;
    border-top-color: blue;
    border-bottom-color: blue;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    text-align: center;
}

.up2 {
    display: none;
    font-size: 16px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin-top: 55px;
    background-attachment: fixed;
    max-width: fit-content;
    border-width: 2px;
    border-style: ridge;
    padding: 8px;
    transition: transform 0.09s;
}

.up3 {
    display: none;
    font-size: 16px;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    margin-top: 55px;
    background-attachment: fixed;
    max-width: fit-content;
    border-width: 2px;
    border-style: ridge;
    padding: 8px;
    transition: transform 0.09s;
}


.picture {
    border-radius: 50%;
    border: 3px solid rainbow;
    margin-top: 30px;
    text-align: right;
}

.icon {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 58px;
    height: 58px;
    transition: transform 0.09s;
    background-attachment: fixed;
    margin-top: 10px;
    margin-left: 3px;

}

.icon2 {
    width: 14px;
    height: 14px;
    background-attachment: fixed;
    padding-right: 8px;
    transition: transform 0.09s;
    text-shadow: white;
    background: transparent;
}

.icon3 {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 58px;
    height: 58px;
    transition: transform 0.09s;
    background-attachment: fixed;
    margin-top: 10px;
    margin-left: 3px;
}

.icon4 {
    display: grid;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    width: 62px;
    height: 62px;
    transition: transform 0.5s ease;
    background-attachment: fixed;
    margin-top: 10px;
    margin-left: 0px;

}

.buttons {
    display: none;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    background-attachment: fixed;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-style: ridge;
    border-width: 2px;

}

.buttons2 {
    display: none;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    background-attachment: fixed;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    border-style: ridge;
    border-width: 2px;

}

.buttons3 {
    display: none;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    background-attachment: fixed;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    border-style: ridge;
    border-width: 2px;

}


.buttons button {
    font-size: 12px;
    width: 180px;
    height: 24px;
    border: 1px solid;
    cursor: pointer;
    border-top: 0px;
    border-right: 0px;
    border-style: dotted;
    background: #35353570;
    color: rgb(255, 255, 255);
    text-align: left;
    border-bottom-color: blue;
    border-left-color: blue;


}

.buttons2 button {
    font-size: 12px;
    width: 180px;
    height: 24px;
    border: 1px solid;
    cursor: pointer;
    border-top: 0px;
    border-right: 0px;
    border-style: dotted;
    background: #35353570;
    color: rgb(255, 255, 255);
    text-align: left;
    border-bottom-color: blue;
    border-left-color: blue;


}

.buttons3 button {
    font-size: 12px;
    width: 180px;
    height: 24px;
    border: 1px solid;
    cursor: pointer;
    border-top: 0px;
    border-right: 0px;
    border-style: dotted;
    background: #35353570;
    color: rgb(255, 255, 255);
    text-align: left;
    border-bottom-color: blue;
    border-left-color: blue;

}

.spotify {
    display: none;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 7;
    background-attachment: fixed;
    margin-top: 20px;
    border-style: hidden;
    border-width: 2px;
    transition: transform 0.5s;

}

.spotify iframe {
    font-size: 12px;
    width: 380px;
    height: 280px;
    border: 5px solid;
    cursor: pointer;
    margin-right: 199%;
    border-style: ridge;
    background: #35353570;
    color: rgb(255, 255, 255);
    text-align: left;

}

.bm {
    float: left;
    width: 20px;
    height: 22px;
    margin-bottom: 20px;
    margin-left: 12px;
    transition: transform 0.5s ease;
}

.icon:hover {
    background-color: #00000088;
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.icon3:hover {
    background-color: #00000088;
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.icon4:hover {
    transform: translateY(-5px);
    text-shadow: 0px 0px 15px rgb(0, 0, 0);
}

.buttons button:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
}

.buttons2 button:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
}

.buttons3 button:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
}

.bm:hover {
    transform: rotate(360deg);
}

.up:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
    transform: translateY(-5px);
}
.up2:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
    transform: translateY(-5px);
}
.up3:hover {
    background: #8b8b8b;
    color: rgb(0, 0, 0);
    transform: translateY(-5px);
}